@font-face {
  font-family: 'XMen';
  src: url('Xmenfont.ttf') format('truetype');
}

body {
  font-family: 'Xmen';
  background-color: black;
  color: yellow;
  text-align: center;
  padding-top: 100px;
}

h1 
  fh1 {
  font-family: 'XMen';
  font-size: 48px;
  text-shadow: 2px 2px 4px red;
}


body {
    padding: 0;
    margin: 0;
    color: rgb(255, 221, 51);
    background-color: black;
    font-family: Share Tech;
    text-align: center;
    font-weight: 900;
}

body h2 {
    text-shadow: 3px 3px rgb(204, 0, 0);
}

header {
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    background-color: rgb(0, 0, 0, 0.1);
}

.container {
    background-color: rgb(204, 0, 0);
    background-color: rgb(255, 221, 51);
    text-align: left;
    width: 85%;
    min-width: 600px;
    margin: auto;
    padding: 80px 40px 100px 20px;
    border-radius: 6px;
    border-width: 25px 25px 25px 25px;
    border-color: rgb(204, 0, 0);
    border-style: solid;
    box-shadow: 0 10px 16px 1px rgb(0, 0, 0, 0.6);
}

.titulo-fechado {
    display: block;
}

.card {
    transition:
        background-color 1s ease,
        color 1.5s ease,
        font-size 0.7s ease,
        height 0.4s ease,
        width 0.2s ease,
        padding 1s ease,
        margin-left 1s ease,
        opacity 3.5s ease,
        border-radius 0.7s ease;
}

.card-pessoa {
    color: black;
    align-items: center;
    min-height: 30px;
    width: 50%;
    min-width: 300px;
    height: 2em;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 30px;
    border: 5px solid goldenrod;
    border-radius: 2.2em;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: darkgoldenrod;
    box-shadow: 0 5px 5px 1px rgb(0, 0, 0, 0.5);
}

.card-pessoa-select {
    height: 400px;
    width: 95%;
    color: black;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid rgb(204, 0, 0);
    border-radius: 6px;
    font-weight: 600;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 2px 1px rgb(204, 0, 0);
}

.card-pessoa:hover {
    border: 5px solid rgb(204, 0, 0);
    color: rgb(20, 0, 204)
}

.conteudo {
    color: black;
    font-size: 1.2rem;
    transition: opacity 1.5s ease;
}

.escondido {
    opacity: 0;
    visibility: hidden;
}

.visivel {
    opacity: 1;
    visibility: visible;
}

.parte-fig-text {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.container-fig {
    width: 1000px;
}

.container-fig img {
    width: auto;
    max-width: 500px;
    height: 300px;
    margin: auto;
    display: block;
}

.container-info {
    height: 100%;
    margin-left: 18px;
    width: 100%;
    align-items: center;
    font-size: 14px;

}
.descr-x{
    font-size: 12px;
}

